{{ define "edit"}}
{{ template "header"}}

<div class="card">
    
    <div class="card-header">        Products    </div>
    <div class="card-body">
        <form method="post" action="/update">

           
            <input type="hidden" value = {{.SKU}} class="form-control" name="sku" id="sku" placeholder="">
          

            <div class="form-group">
              <label for="">Name:</label>
              <input type="text"
                class="form-control" name="name" value = {{.Name}} id="name" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Complete name</small>
            </div>

            <div class="form-group">
              <label for="">Brand:</label>
              <input type="text"
                class="form-control" name="brand" value = {{.Brand}} id="brand" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Complete brand</small>
            </div>

            <div class="form-group">
              <label for="">Size:</label>
              <input type="text"
                class="form-control" name="size" value = {{.Size}} id="size" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Complete size</small>
            </div>

            <div class="form-group">
              <label for="">Price:</label>
              <input type="text"
                class="form-control" name="price" value = {{.Price}} id="price" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Complete price</small>
            </div>

            <div class="form-group">
              <label for="">Imageurl:</label>
              <input type="text"
                class="form-control" name="imageurl" value = {{.Imageurl}} id="imageurl" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Complete imageurl</small>
            </div>

            <button type="submit" class="btn btn-success">Update product</button>

            <a name="" id="" class="btn btn-primary" href="/" role="button">Cancel</a>
        </form>
    </div>




</div>




{{ template "footer"}}
{{end}}